.slider {
    display: flex;
    width: 90vw;
    gap: 15px;
}
.slide {
    flex: 1;
    flex-grow: 1;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #6666;
}

.slide img {
    width: 105%;
    height: 105%;
    object-fit: cover;
}

.slide.activ {
    flex-grow: 3;
}
