.slider {
    display: flex;
    /* width: 90vw; */
    gap: 15px;
    @media (max-width: 780px) {
        gap: 10px;
    }
    @media (max-width: 426px) {
        gap: 5px;
    }
}

.slide {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 50vw;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #6666;
    transition: all 0.3s ease;
    cursor: pointer;
    @media (max-width: 426px) {
        height: 60vw;
    }
}

.slide img {
    width: 105%;
    height: 105%;
    object-fit: cover;
    pointer-events: none;
}

.slide.activ {
    flex-grow: 3;
    transition: all 0.3s ease;
    cursor: default;
    @media (max-width: 426px) {
        flex-grow: 4;
    }
}
.slide.activ {
    .discr {
        position: absolute;
        top: 10px;
        left: 10px;
        @media (max-width: 426px) {
            top: 5px;
            left: 5px;
        }
    }
}
.title1 {
    white-space: nowrap;
    @media (max-width: 426px) {
        font-size: 14px;
        white-space: wrap;
    }
    @media (max-width: 376px) {
        font-size: 12px;
        line-height: 14px;
    }
}
.name {
    white-space: nowrap;
    color: black;
    width: bold;
    @media (max-width: 426px) {
        font-size: 14px;
        white-space: wrap;
    }
}
